language: php

sudo: false

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly
  - hhvm-nightly

matrix:
  fast_finish: true
  include:
    - php: 7.1
      env: SYMFONY_VERSION=2.3.*
    - php: 7.1
      env: SYMFONY_VERSION=2.7.*
    - php: 7.1
      env: SYMFONY_VERSION=2.8.*
    - php: 7.1
      env: SYMFONY_VERSION=3.0.*
    - php: 7.1
      env: SYMFONY_VERSION=3.1.*
    - php: 7.1
      env: SYMFONY_VERSION=3.2.*
    - php: 7.1
      env: SYMFONY_VERSION=4.0.*
    - php: 7.1
      env: SYMFONY_VERSION=4.1.*
    - php: 7.1
      env: SYMFONY_VERSION=4.2.*
  allow_failures:
    - php: hhvm-nightly
    - php: nightly
      
cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - SYMFONY_ENV=test
before_install:
  - echo "memory_limit = -1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

before_script:
  - composer self-update
  - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;

install: composer update --prefer-dist --no-interaction $COMPOSER_FLAGS

script:
  - vendor/bin/phpunit
