<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="CronTab Test Suite">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="./Tests/Fixtures/App/app" />
        <env name="KERNEL_CLASS" value="Cron\CronBundle\Tests\Fixtures\App\app\AppKernel" />
    </php>
</phpunit>
